@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Korcy';
  src: url('./fonts/Korcy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.custom-font{
  font-family: 'Korcy', Arial, Helvetica, sans-serif;
}

.PhoneInput input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}