@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.custom-font{
  font-family: 'Merienda', Arial, Helvetica, sans-serif;
}

.PhoneInput input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}